

@import url('https://fonts.googleapis.com/css2?family=Roboto');
@font-face {
    font-family: myFirstFont;
    src: url(Qatar2022Arabic-Bold.ttf);
  }
*{
    
    padding: 0;
    outline: 0;
    font-family:'myFirstFont';
    text-align: center;
}

body{
    height: 100%;
    background-image: url(10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    position: absolute;
    padding: 16px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    background-color:hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
}

.title-box{
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.5em;
   
    
}
.title-box #goals{
    font-size: 1.8em;
}
.team{
    width: 100px;
}
.team img{
    height: 54px;
    width: 54px;
}
.matches-table{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.match-tile{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.match-tile img{
    width: 52px;
    height: 52px;
}
.match-tile p{
    font-size: 1.2rem;
}

.match-tile #goals{
    font-size: 1.8rem;
}
.match-tile .team{
    width: 100px;
    
}