body,html{
  height: 120%;
  margin: 0;
}
.bg {
    
    background-image: url("pexels-tembela-bohle-1884574.jpg");
  
    
    height: 100%; 
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed

    
   
  }
  
  header{
    height: 150px;
    width: 100%;
    font-size: 80px;
    text-align: center;
    color: rgb(180, 32, 32);
    font-family: "Times New Roman", Times, serif;
    
    
    
    
    
  }
  h2{
    /*background-color: rgb(255, 255, 255);*/
    height: 50px;
    width: 100%;
    font-size: 80px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 1rem;
    color: #ffffff;
    
    
  }
  .column1,.column2,.column3,.column4{
    width:50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    float: center;
    
    font-size: 120%;
    
    
    

  }


  .column5{
    width:50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 26%;
    float: center;
    background-color: aliceblue;
    
    

  }
  table tbody {
    display: block;
    height: 580px;
    overflow-y: scroll;
    background-color: #e5e3e3;
  }
  
  
  table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  input[type=text] {
    width: 150%;
    padding: 15px 20px;
    margin: 8px 0px;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 0%;
    float: center;
    background-color: aliceblue;
    
    
  }
  input[type=submit] {
    width: 25%;
    background-color: #63b366;
    color: white;
    padding: 14px 20px;
    margin-top: 5%;
    margin-left: 35%;
    margin-bottom: 3%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #78a57a;
  }
.button0{
  width: 15%;
  
}
form {
  
  opacity: 89%;
  background: rgb(252, 252, 252);
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  
  background-color: rgb(196, 188, 188);
  width: 200%;
  border-radius: 8px;
  padding: 10px 40px;
  
  margin-left: -38%;
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
}

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-top: -0.5%;
}

.content-table thead tr {
  background-color:#500808;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 17px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}



a:link {
  
  text-decoration: none;
  color: white;
  font-style: bo;
}
.btn btn-success btn-lg{
  width: 20% ; 
  font-weight:bold;
  font-family: sans-serif; 
  font: weight 80%;
}
  
